@font-face {
	font-family: 'Minecraft';
	src: url('/src/assets/fonts/Minecraft.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

:root {
	--font-family-main: 'Minecraft', sans-serif;
	--font-size-extra-s: 12px;
	--font-size-s: 14px;
	--font-size-m: 16px;
	--font-size-l: 20px;
	--font-size-extra-l: 26px;

	--text-light: #fff;
	--text-dark: #000;
	--gray-medium: #a1a1a1;
	--gray-dark: #373737;
	--gray-black: #141414;

	--positive-green: rgb(150, 255, 150);
	--negative-red: rgb(255, 160, 150);

	--container-width: 1200px;
	--container-inline-padding: 15px;

	--burgerWidth: 30px;
	--burgerHeight: 18px;
	--burgerLineHeight: 2px;
	--burgerLineBorderRadius: 0px;
	--burgerColor: var(--gray-medium);
	--burgerActiveColor: #fff;

	--box-shadow-black: 5px 5px black;
	--border-black: 1px solid black;
}
